<div id="homeView">


<span ng-show="currentUser" ng-hide="currentUser.roles.indexOf('admin') != -1">
                  <label>Welcome {{currentUser.lastName}}, {{currentUser.firstName}}</label>
<p></p>
    <div class="col-md-12">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h1>Notifications</h1>
            </div>

            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Case</th>
                            <th>Action Needed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>There are currently no new recent activity feeds for user {{currentUser.firstName}} {{currentUser.lastName}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1>Recent Activity</h1>
                </div>

                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Cases</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>There are currently no new notifications for user {{currentUser.firstName}} {{currentUser.lastName}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</span>

<span ng-show="currentUser.roles.indexOf('admin') != -1" >
                  <label>Welcome {{currentUser.lastName}}, {{currentUser.firstName}}</label>

    <h1 style="font-family: Oswald"><center>|| Recent Activity ||</center></h1>
    <p><center>______________________________________</center></p>

    <label>Cases Added</label>
    <table class="table table-inverse">
        <tr>
            <th>Case Name</th>
            <th>Case Number</th>
            <th>Practice Area</th>
            <th>Attorney Assigned</th>
        </tr>

        <tr ng-repeat="caseinfo in vm.cases">
            <td>{{caseinfo.caseName}}</td>
            <td>{{caseinfo.caseNumber}}</td>
            <td>{{caseinfo.practiceArea}}</td>
            <td>{{caseinfo.attorney}}</td>
        </tr>

    </table>
    <p>

    </p>
    <label>Recent Clients</label>
</span>
</div>