
<div class="loginpic">
    <div id="loginView">

        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 panel panel-primary ">
            <center><h1>Login</h1></center>
            <div class="panel-body col-lg-12 col-md-12 col-sm-12">

                <div ng-if="error" class="alert alert-danger col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4">
                    <label>Invalid login/password, please try again.</label>
                </div>


                <style>
                    .usericon, .keyicon
                    {
                        margin-left: -30px;
                        margin-bottom: -30px;
                        margin-top: 10px;
                    }
                </style>


                <div class="col-xs-6 col-xs-offset-3 col-lg-6 col-lg-offset-3">
                    <i class="usericon fa fa-user fa-1x" aria-hidden="true"></i><input
                            ng-model="user.username"
                            ng-keypress="keypress( $event )"
                            class="form-control"
                            placeholder="username"/>

                    <i class="keyicon fa fa-key fa-1x" aria-hidden="true"></i><input
                            ng-model="user.password"
                            ng-keypress="keypress( $event )"
                            class="form-control"
                            placeholder="password"
                            type="password"/>

                        <button ng-click="login(user)"
                                class="btn btn-success btn-block-sm col-lg-offset-5 col-md-offset-5 col-sm-offset-4">
                            Login
                        </button>

                    <br>
                    <br>

                    <P class="text-center">Or Login with...</P>

                    <a href="/auth/google"
                       class="btn btn-danger btn-block-sm col-lg-offset-2 col-md-offset-1 col-xs-offset-2">
                        <span class="fa fa-google-plus"></span>
                        | Google
                    </a>

                    <a href="/auth/facebook"
                       class="btn btn-primary btn-block-sm">
                        <span class="fa fa-facebook"></span>
                        Facebook
                    </a>


                </div>

            </div>
        </div>
    </div>

</div>