<div id="documentsView">
   <span ng-show="currentUser" ng-show="currentUser.roles.indexOf('admin') != -1">
<div class="col-md-12">
   <div class="container create-documents" ng-hide="!addDocuments">
       <div class="form-group pull-right">
           <button class="btn btn-success pull-right" type="file" ngf-select='vm.upload($file)'>Choose File</button>
           <div ng-show="vm.fileUploadInProgress" idle-countdown="countdown" ng-init="" class="progressbar">
               <uib-progressbar max="10" value="countdown" animate="false" type="success" class="progress-striped active">
                   {{vm.fileUploadMessage}}</uib-progressbar>
           </div>
       </div>
       <button class="btn btn-warning pull-right" ng-click="addDocuments = false;">Back</button>
   </div>
</div>
</div>

<style>
    .uploadbutton
    {
        margin-top: -45px
    }
</style>

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Documents</h1>
            <button class="uploadbutton btn btn-success btn-md pull-right" ng-hide="addDocuments == true;" ng-click="addDocuments=!addDocuments"> Add a Document</button>

        </div>

        <div class="panel-body">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Document Name</th>
                    <th>Upload Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in vm.files">
                    <td>{{file.filename}}</td>
                    <td>{{file.uploadDate}}</td>
                    <td>
                        <button class="btn btn-warning" ng-click="vm.downloadFile(file._id, file.filename)">Download</button>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


</span>
</div>